@import "tailwindcss";

@import './styles/accessibility.css';
@import './styles/animations.css';

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
}
